<!DOCTYPE html>
<html>
    <head>
        <title>Download and install Zabbix</title>
        <link rel="stylesheet" href="../../style/style.css">
        <link rel="stylesheet" href="../../fontawesome-free-6.4.0-web/css/all.css">
        <link rel="shortcut-icon" type ="image/x-icon" href="https://assets.zabbix.com/img/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="../jquery.js"></script>
        <script>
            $(document).ready(function(){
                $(".fa-bars").click(function(){
                    $(this).hide()
                    $(".fa-x").show()
                    $(".menu_phone").slideDown()
                })

                $(".fa-x").click(function(){
                    $(this).hide()
                    $(".fa-bars").show()
                    $(".menu_phone").slideUp()
                })

                $(window).scroll(function(){
                    if($(document).scrollTop() > 100){
                        $("#up").fadeIn()
                        $("#up").animate({bottom:"50px"},150,"swing")
                    }
                    else{
                        $("#up").animate({bottom:"-50px"},150,"swing")
                        $("#up").fadeOut()
                    }
                })

                $("#up").click(function(){
                    window.scrollTo({top:0,behavior:'smooth'})
                })

                $(".oneinput input").click(function(){
                    $(".oneinput input").css("background","white")
                    $(".oneinput input").css("color","black")
                })

                $(".oneinput input").mouseleave(function(){
                    $(".oneinput input").css("background","#454951")
                    $(".oneinput input").css("color","white")
                })

            })
        </script>
    </head>
    <body>
        <div id = "help">
            <div class = "center">
                <div class = "help">
                    <h2>Need help from Zabbix team?</h2>
                    <ul class = "helplist">
                        <li>
                            <a><img src = "https://assets.zabbix.com/img/tmp/services_consulting_need_help.svg" style = "width:100px;"></a>
                            <div class = "helpheader">Consulting</div>
                            <div class = "details">Get assistance in better understanding the benefits and potential from using Zabbix</div>
                        </li>
                        <li>
                            <a><img src = "https://assets.zabbix.com/img/tmp/support_need_help.svg" style = "width:100px;"></a>
                            <div class = "helpheader">Technical Support</div>
                            <div class = "details">Get access to the team of Zabbix experts that know every little bit of the source code</div>
                        </li>
                        <li>
                            <a><img src = "https://assets.zabbix.com/img/tmp/training_need_help-big.svg" style = "width:100px;"></a>
                            <div class = "helpheader">Training</div>
                            <div class = "details">Get theoretical and practical knowledge in 5 days in many local languages</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id = "footer">
            <div class ="center">
                <div class = "footer">
                    <div class = "phone">
                        <ul class = "contact">
                            <li>
                                <a>USA</a>
                                <div class = "number">+1 877-4-ZABBIX</div>
                            </li>
                            <li>
                                <a>EUROPE</a>
                                <div class = "number">+371 6778-4742</div>
                            </li>
                            <li>
                                <a>JAPAN</a>
                                <div class = "number">+81 3-4405-7338</div>
                            </li>
                            <li>
                                <a>CHINA</a>
                                <div class = "number">+86 021-6978-6188</div>
                            </li>
                            <li>
                                <a>ARGENTINA</a>
                                <div class = "number">+54 11 3989-4060</div>
                            </li>
                            <li>
                                <a>BRAZIL</a>
                                <div class = "number">+55 11 4210-5104</div>
                            </li>
                            <li>
                                <a>CHILE</a>
                                <div class = "number">+56 44 890 9410</div>
                            </li>
                            <li>
                                <a>COLUMBIA</a>
                                <div class = "number">+57 1 3819310</div>
                            </li>
                            <li>
                                <a>MEXICO</a>
                                <div class = "number">+52 55 8526 26064</div>
                            </li>
                        </ul>
                    </div>
                    <div class = "buttons">
                        <a class = "button hover_button">Find a local partner</a>
                        <a class = "button hover_button">Contact us</a>
                    </div>
                    <div class = "shortcuts">
                        <ul class = "shortcut-section">
                            <li>
                                <ul class = "shortcut">
                                    <li><a class = "shortcut-header hover_text">PRODUCT</a></li>
                                    <li><a class = "shortcut-sublist hover_text">Features</a></li>
                                    <li><a class = "shortcut-sublist hover_text">What's new in Zabbix 6.4</a></li>
                                    <li><a class = "shortcut-sublist hover_text">Screenshots</a></li>
                                    <li><a class = "shortcut-sublist hover_text">System requirements</a></li>
                                    <li><a class = "shortcut-sublist hover_text">Life cycle & Release Policy</a></li>
                                    <li><a class = "shortcut-sublist hover_text">License</a></li>
                                    <li><a class = "shortcut-sublist hover_text">Documentation</a></li>
                                    <li><a class = "shortcut-sublist hover_text">Roadmap</a></li>
                                </ul>
                            </li>
                            <li>
                                <ul class = "shortcut">
                                    <li><a class = "shortcut-header hover_text">SOLUTIONS</a></li>
                                    <li><a class = "shortcut-sublist hover_text">By Topic</a></li>
                                    <li><a class = "shortcut-sublist hover_text">By Industry</a></li>
                                    <li><a class = "shortcut-sublist hover_text">For Enterprises</a></li>
                                    <li><a class = "shortcut-sublist hover_text">Case studies</a></li>
                                    <li><a class = "shortcut-sublist hover_text">Customers and Users</a></li>
                                    <li><a class = "shortcut-sublist hover_text">Integrations & Templates</a></li>
                                </ul>
                            </li>
                            <li>
                                <ul class = "shortcut">
                                    <li><a class = "shortcut-header hover_text">SERVICES</a></li>
                                    <li><a class = "shortcut-sublist hover_text">Support</a></li>
                                    <li><a class = "shortcut-sublist hover_text">Consulting</a></li>
                                    <li><a class = "shortcut-sublist hover_text">Turn-Key Solution</a></li>
                                    <li><a class = "shortcut-sublist hover_text">Template building</a></li>
                                    <li><a class = "shortcut-sublist hover_text">Upgrade</a></li>
                                    <li><a class = "shortcut-sublist hover_text">Development</a></li>
                                    <li><a class = "shortcut-sublist hover_text">Remote troubleshooting</a></li>
                                    <li><a class = "shortcut-sublist hover_text">Integration</a></li>
                                </ul>
                            </li>
                            <li>
                                <ul class = "shortcut">
                                    <li><a class = "shortcut-header hover_text">TRAINING</a></li>
                                    <li><a class = "shortcut-sublist hover_text">Certified User</a></li>
                                    <li><a class = "shortcut-sublist hover_text">Certified Specialist</a></li>
                                    <li><a class = "shortcut-sublist hover_text">Certified Professional</a></li>
                                    <li><a class = "shortcut-sublist hover_text">Certified Expert</a></li>
                                    <li><a class = "shortcut-sublist hover_text">Testimonial</a></li>
                                    <li><a class = "shortcut-sublist hover_text">Training FAQ</a></li>
                                    <li><a class = "shortcut-sublist hover_text">Application form</a></li>
                                    <li><a class = "shortcut-sublist hover_text">Webinars</a></li>
                                </ul>
                            </li>
                            <li>
                                <ul class = "shortcut">
                                    <li><a class = "shortcut-header hover_text">PARTNERS</a></li>
                                    <li><a class = "shortcut-sublist hover_text">Partner Program</a></li>
                                    <li><a class = "shortcut-sublist hover_text">Become a Partner</a></li>
                                    <li><a class = "shortcut-sublist hover_text">Strategic Partners</a></li>
                                    <li><a class = "shortcut-sublist hover_text">Distributors</a></li>
                                    <li><a class = "shortcut-sublist hover_text">Map of Partners</a></li>
                                </ul>
                            </li>
                            <li>
                                <ul class = "shortcut">
                                    <li><a class = "shortcut-header hover_text">COMMUNITY</a></li>
                                    <li><a class = "shortcut-sublist hover_text">Events</a></li>
                                    <li><a class = "shortcut-sublist hover_text">Forum</a></li>
                                    <li><a class = "shortcut-sublist hover_text">Blog</a></li>
                                    <li><a class = "shortcut-sublist hover_text">Bugs and Feature Requests</a></li>
                                    <li><a class = "shortcut-sublist hover_text">Developers</a></li>
                                    <li><a class = "shortcut-sublist hover_text">Community templates</a></li>
                                    <li><a class = "shortcut-sublist hover_text">Newsletters</a></li>
                                </ul>
                            </li>
                            <li>
                                <ul class = "shortcut">
                                    <li><a class = "shortcut-header hover_text">COMPANY</a></li>
                                    <li><a class = "shortcut-sublist hover_text">About Us</a></li>
                                    <li><a class = "shortcut-sublist hover_text">Career</a></li>
                                    <li><a class = "shortcut-sublist hover_text">Contacts</a></li>
                                    <li><a class = "shortcut-sublist hover_text">Press Releases</a></li>
                                    <li><a class = "shortcut-sublist hover_text">Trademark</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class = "subscribe hover_email">
            <div class = "center">
                <div class = "subscribe-form">
                    <div class = "emails">
                        <label>Join 30,000+ Zabbix news readers</label>
                        <div class = "oneinput">
                            <input type="text" name="email" autocomplete="off" placeholder="Enter your email">
                            <button type="submit" class="subscribe_newsletter">
                                <i class="fa-sharp fa-solid fa-arrow-turn-down-left fa-flip-horizontal fa-2xs" style="color: #848487;"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id = "footer">
            <div class = "center">
                <div class = "footer">
                    <ul class = "trademark">
                        <li><a>2001-2023 by Zabbix LLC. All rights reserved.</a></li>
                        <li>
                            <ul class = "trademark" style ="margin-right:30px;">
                                <li><a class="social social-twitter hover_icon" href="https://twitter.com/zabbix" rel="noreferer noopener" target="_blank"></a></li>
                                <li><a class="social social-facebook hover_icon" href="https://www.facebook.com/zabbix" rel="noreferer noopener" target="_blank"></a></li>
                                <li><a class="social social-reddit hover_icon" href="https://www.reddit.com/r/zabbix/" rel="noreferer noopener" target="_blank"></a></li>
                                <li><a class="social social-linkedin hover_icon" href="https://www.linkedin.com/company/zabbix" rel="noreferer noopener" target="_blank"></a></li>
                                <li><a class="social social-youtube hover_icon" href="https://www.youtube.com/user/ZabbixSIA/videos" rel="noreferer noopener" target="_blank"></a></li>
                            </ul>
                        </li>
                        <li>
                            <ul class = "trademark">
                                <li><a class = "hover_text">Privacy Policy</a></li>
                                <li><a class = "hover_text">Trademark Policy</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>