<!DOCTYPE html>
<html>
    <head>
        <title>Download and install Zabbix</title>
        <link rel="stylesheet" href="../../style/style.css">
        <link rel="stylesheet" href="../../fontawesome-free-6.4.0-web/css/all.css">
        <link rel="shortcut-icon" type ="image/x-icon" href="https://assets.zabbix.com/img/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="../jquery.js"></script>
        <script>
            $(document).ready(function(){
                $(".fa-bars").click(function(){
                    $(this).hide()
                    $(".fa-x").show()
                    $(".menu_phone").slideDown()
                })

                $(".fa-x").click(function(){
                    $(this).hide()
                    $(".fa-bars").show()
                    $(".menu_phone").slideUp()
                })

                $(window).scroll(function(){
                    if($(document).scrollTop() > 100){
                        $("#up").fadeIn()
                        $("#up").animate({bottom:"50px"},150,"swing")
                    }
                    else{
                        $("#up").animate({bottom:"-50px"},150,"swing")
                        $("#up").fadeOut()
                    }
                })

                $("#up").click(function(){
                    window.scrollTo({top:0,behavior:'smooth'})
                })

                $(".oneinput input").click(function(){
                    $(".oneinput input").css("background","white")
                    $(".oneinput input").css("color","black")
                })

                $(".oneinput input").mouseleave(function(){
                    $(".oneinput input").css("background","#454951")
                    $(".oneinput input").css("color","white")
                })

            })
        </script>
    </head>
    <body>
        <div id = "header_phone">
            <div class = "center">
                <ul class ="header_phone">
                    <li><a><img src ="https://upload.wikimedia.org/wikipedia/commons/6/6f/Zabbix_logo.svg" style = "width:auto; height:35px;"></a></li>
                    <li><a>
                        <i class="fa-regular fa-bars fa-2xl" style="color: #000000; display:block;"></i>
                        <i class="fa-regular fa-x fa-2xl" style="color: #000000; display: none"></i>
                    </a></li>
                </ul>

                <div class = "menu_phone">
                    <div>
                        <ul class = "menu_list">
                            <li><a class = "hover_menu_list" style ="border-top : 0.7px rgba(255, 255, 255, 0.552) solid">PRODUCT <i class="fa-sharp fa-solid fa-caret-down fa-lg" style="color: #ffffff;"></i></a></li>
                            <li><a class = "hover_menu_list">SOLUTIONS <i class="fa-sharp fa-solid fa-caret-down fa-lg" style="color: #ffffff;"></i></a></li>
                            <li><a class = "hover_menu_list">SUPPORT & SERVICES <i class="fa-sharp fa-solid fa-caret-down fa-lg" style="color: #ffffff;"></i></a></li>
                            <li><a class = "hover_menu_list">TRAINING <i class="fa-sharp fa-solid fa-caret-down fa-lg" style="color: #ffffff;"></i></a></li>
                            <li><a class = "hover_menu_list">PARTNERS <i class="fa-sharp fa-solid fa-caret-down fa-lg" style="color: #ffffff;"></i></a></li>
                            <li><a class = "hover_menu_list">COMMUNITY <i class="fa-sharp fa-solid fa-caret-down fa-lg" style="color: #ffffff;"></i></a></li>
                            <li><a class = "hover_menu_list">ABOUT US <i class="fa-sharp fa-solid fa-caret-down fa-lg" style="color: #ffffff;"></i></a></li>
                        </ul>
                    </div>

                    <div>
                        <div class = "green_button_phone hover_greenbutton">Download</div>
                    </div>

                    <div>
                        <div class = "text_phone">
                            <div>Zabbix 6.4 is out!</div>
                            <div class = "hover_blue_text">Blog</div>
                            <div class = "hover_blue_text">Documentation</div>
                        </div>
                    </div>

                    <div>
                        <ul class = "customer_phone">
                            <li><a class = "hover_blue_text" style ="border-top : 0.7px rgba(255, 255, 255, 0.552) solid">English (US)<i class="fa-regular fa-chevron-down" style="color: #ffffff; padding:0 5px 0 5px; line-height:0.5cm"></i></a></li>
                            <li><a class = "hover_blue_text">Customer Login <i class="fa-solid fa-circle-user" style = "padding:0 5px 0 5px; line-height:0.5cm"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>