<!DOCTYPE html>
<html>
    <head>
        <title>Download and install Zabbix</title>
        <link rel="stylesheet" href="../../style/style.css">
        <link rel="stylesheet" href="../../fontawesome-free-6.4.0-web/css/all.css">
        <link rel="shortcut-icon" type ="image/x-icon" href="https://assets.zabbix.com/img/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="../jquery.js"></script>
        <script>
            $(document).ready(function(){
                $(".fa-bars").click(function(){
                    $(this).hide()
                    $(".fa-x").show()
                    $(".menu_phone").slideDown()
                })

                $(".fa-x").click(function(){
                    $(this).hide()
                    $(".fa-bars").show()
                    $(".menu_phone").slideUp()
                })

                $(window).scroll(function(){
                    if($(document).scrollTop() > 100){
                        $("#up").fadeIn()
                        $("#up").animate({bottom:"50px"},150,"swing")
                    }
                    else{
                        $("#up").animate({bottom:"-50px"},150,"swing")
                        $("#up").fadeOut()
                    }
                })

                $("#up").click(function(){
                    window.scrollTo({top:0,behavior:'smooth'})
                })

                $(".oneinput input").click(function(){
                    $(".oneinput input").css("background","white")
                    $(".oneinput input").css("color","black")
                })

                $(".oneinput input").mouseleave(function(){
                    $(".oneinput input").css("background","#454951")
                    $(".oneinput input").css("color","white")
                })

            })
        </script>
    </head>
    <body>
        <div id = "header">
            <div class ="center">
                <ul class ="header">
                    <li><a class = "redtext hover_underline_red">Zabbix 6.4 is out!</a></li>
                    <li><a class = "hover_underline_black">Blog</a></li>
                    <li><a class = "hover_underline_black">Documentation</a></li>
                    <li><a class = "hover_underline_black">English(US)</a></li><i class="fa-regular fa-chevron-down" style ="color:#6c6b6f"></i>
                    <li><a class = "hover_underline_black">Customer Login</a></li><br><i class="fa-solid fa-user"></i>
                </ul>
            </div>
        </div>
    </body>
</html>